/* COLORS */
* {
  --papyrus: #EEDFA6;
}


.grid-wrapper {
  display: grid;
  width: ;
  margin: 0 auto;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(8, 50px);
  background-color: var(--papyrus);
}